html
{
    background-color: #1f1f1f;
}

@font-face {
    font-family: sourcesans;
    src: url("font.ttf");
}

input[type="text"]
{
    font-family: sourcesans;
    font-size: 16pt;
}

select
{
    font-family: sourcesans;
    font-size: 16pt;
    color: #ffffff;
    background-color: #373737;
}

option
{
    font-family: sourcesans;
    font-size: 16pt;
    color: #ffffff;
    background-color: #373737;
}

button
{
    font-family: sourcesans;
    font-size: 16pt;
}

h1
{
    font-family: sourcesans;
    font-size: 40pt;
    color: #1aab2d;
}

h3
{
    font-family: sourcesans;
    font-size: 20pt;
    color: #1aab2d;
}

p
{
    font-family: sourcesans;
    font-size: 16pt;
    color: #ffffff;
}

table
{
    font-family: sourcesans;
    font-size: 16pt;
}

th, td 
{
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

a:link
{
    color: #0097a7;
}

a:visited
{
    color: #0097a7;
}

a:hover
{
    color: #037885;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2929;
}
  
li 
{
    float: left;
    font-family: sourcesans;
    font-size: 16pt;
}

.bullet
{
    float: none;
    font-family: sourcesans;
    font-size: 16pt;
    color: #ffffff;
}
  
li a 
{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active
{
    background-color: #373737;
}